@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --border: 1px solid black;
}
li {
    list-style-type: none;
}

a{
  text-decoration: none;
  color: #000;
}


body{
    font-family: 'Xanh Mono', monospace;
    background-color: rgb(232, 232, 232);
    width: 90%;
  margin: 0 auto;   
    
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: rgb(232, 232, 232);
  
  
}

@media (max-width: 700px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
  }
  
  header nav ul{    
    min-width: 90vw;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
}

header nav ul {
  display: flex;
  justify-content: space-around; 
  width: 40vw;
}
header nav ul li a:hover{
  border-bottom: 1px solid black;
}

.img {
  width: 30vw;
  min-width: 300px;
}

img {
  width: 100%;
  height: 100%;

}

form div:first-child {
 
  height: 50%;
  text-align: center;
}
form div h1 {
  margin: auto;
  padding-top: 22px; 
  word-wrap: break-word;
  font-size: 2.2rem;
}
form div:nth-child(2) {
  
  height: 80%;
  display: flex;
  flex-direction: column;
}

form div:nth-child(2) input:nth-child(1) {  
  margin: 10px auto;
  height: 2rem;
  border-radius:5px;
  padding-left: .8rem;
  margin-top: 20px;
  min-width: 300px;
  outline: none;
}

form div:nth-child(2) input:nth-child(2) {
  width: 20%;
  margin: 0 auto;
  height: 40px;
  border: none;
  background-color: darkgray;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 2px;
  min-width: 135px;
}

form div:nth-child(2) input:nth-child(2):hover{
  color: rgb(218, 218, 218);
}


.features {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  
}

.features div {  
  height: 120px;
  padding: 25px 0 0 7rem;  
  
}




#features,#how-it-works, #pricing {
  line-height: 1.4;
}



#section1 {
  position: absolute;
  top: 180px;
}

.how-it-works {
    text-align: center;
}

#section2 {
  position: absolute;
  top: 55vh;
  }

.pricing {
  display: flex;
  padding: 50px;
  
  height: 380px;
}

.pricing div{
  width: 30%;
  margin-right: 50px;
  border: var(--border);
  text-align: center;
  height: 320px;
}

.pricing div h1{
  background-color: #c5c523;
  height: 18%;
  padding-top: 10px;
}

.pricing div p{
  line-height: 1.5;
  padding-top: 10px;
}

.pricing div p:first-of-type {
  font-weight: 900;
  font-size: 1.2rem;
}

.pricing div input {
  margin-top: 20px;
  height: 13%;
  width: 60%;
   border: none;
  background-color: darkgray;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}

.pricing div input:hover {
  color: white;
  border-bottom: 4px solid gray;
  border-left: 4px solid gray;
}

#section3 {
  position: absolute;
  top: 100vh;
}

footer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 7.1vw;
  background-color: #808080bd;
  height: 7vh;
  padding: 10px 30px;
}

footer ul{
  display: flex;
  
  width: 300px;
  justify-content: space-between;
}

footer p{
  letter-spacing: .2rem;
}